*{
    padding: 0;
    margin: 0;
}
.header{
    margin: auto;
    text-align: center;
}
/*upper peace*/
.upper{
    padding: 19px 0 19px 0;
    background: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-around;
}
.ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__img{
    margin-right: 30px;
}
.header__im{
    margin-right: 41px;
}
.pink__blocks{
    display:flex;
    position: relative;
    
}
.pink__block{
max-height: 768px;
background: rgba(241, 228, 230, 1);
width: 50%;
}
.pink__blocks .second {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
     
}
.brand{
    color: lightcoral;
}
 .below__p{
    position: relative;
    top: 290px;
    bottom: 290px;
    left: 91px
}
/**/
.container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.section{
    margin: auto;
    padding-top: 65px;
    padding-bottom: 48px;
}

.section__item{
    display: flex;
   justify-content: space-between;
}
.coza{
    margin-top: 30px;
}

.section__image{
    width: 100%;
}
.large__img{
    margin-top: 30px;
    margin-bottom: 96px;
}
.middle__h2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.middle__p{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
padding-bottom: 48px;
}
.section__block{
    text-align: center;
   
}
.section__item:last-child{
    padding-top: 30px;
}
.block__p{
    padding-top: 25px;
    padding-bottom: 12px;
}
.block__div{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    width: 314px;
    
}
.price{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-bottom: 20px;
}
.section__blocks{
    background-color: #F8F8F8;
}
.button__a{
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
}
.middle__button{
    display: inline-block;
    border: 1px #FF6A6A solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 39px;
    padding-right: 39px;
    margin-top: 49px;
    margin-bottom: 95px;
}
.footer{
    
}
/*upper__footer*/
.upper__footer{
    
    
}
.wrap__upper__footer{
    background: #222224;
    height: 340px;
}
.footer__ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.footer__img{
    margin-top: 105px;
}
.footer__heading{
  font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
    padding-bottom: 18px;
}
.footer__below__heading{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
.footer__li{
    margin: auto;
    text-align: center;
}
.wrap__middle___footer{
    background: #222224;
    height: 450px;
}
.middle__footer{
    background: #222224;
    height: 450px;
}
.wrap__middle__foterr{
    background: #222224;
}
.header__ul{
    display: flex;
    align-items: center;
}
.search {
    display: flex;
  }
  
  .search-icon-form__label {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-image:url(LooF.png);
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .search-icon-form__input {
    width: 0;
    height: 0;
    outline: none;
    background-color: transparent;
    border: none;
    transition: width 1s;
  }
  
  .search-icon-form__input:focus {
    border: 3px solid green;
    width: 100px;
    height: 20px;
  }